   
        body {
            font-family: sans-serif;
            margin: 0;
            padding: 0;
            background-color: #333;
            color: white;
        }

        /* Menambahkan border pada semua elemen */
        .header, .navigasi, .sidebar, .content, .footer {
            border: 2px solid #555;
            box-sizing: border-box; /* Pastikan padding tidak menambah lebar elemen */
        }
        
        /* Tata letak dan warna */
        .header {
            background-color: #FF5733;
            padding: 20px;
            text-align: center;
        }

        .navigasi {
            background-color: #FFC300;
            padding: 10px;
            text-align: center;
        }

        .content-wrapper {
            display: flex;
            flex-wrap: wrap;
        }

        .sidebar {
            background-color: #FF5733;
            padding: 20px;
            width: 20%;
        }

        .content {
            background-color: #FFC300;
            padding: 20px;
            flex-grow: 1;
            text-align: center;
        }

        .footer {
            background-color: #FF5733;
            padding: 20px;
            text-align: center;
        }

        /* Responsif untuk layar kecil */
        @media (max-width: 768px) {
            .content-wrapper {
                flex-direction: column;
            }
            
            .sidebar {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    